<div class="filterForm">
  <button mat-flat-button class="btnRefreshClass" (click)="refreshData()">Refresh</button>

  <button mat-flat-button class="btnGainerClass" (click)="getDataForGainer()">Show Gainer</button>

  <button mat-flat-button class="btnLoserClass" (click)="getDataForLoser()">Show Losers</button>


  <h4 [ngClass]="{
  'btnGainerClass' : selectedList == 'G',
'btnLoserClass' : selectedList == 'L'}">
    List of Top {{selectedList == "G" ? "Gainer" : "Loser"}}
  </h4>

  <h5>
    Last Refreshed on {{refreshDateTime}}
  </h5>
  <h5>
    Next Refreshed on {{nextRefresh}}
  </h5>
  <div style="display: flex; gap: 20px; align-items: center;">

    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [(ngModel)]="timeInterval" (ngModelChange)="scheduleNextExecution()">

      <ng-container *ngIf="timeInterval">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="timeInterval <= 0">
          <mat-icon>close</mat-icon>
        </button>
      </ng-container>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [(ngModel)]="formData.StockName" (ngModelChange)="filterDataScanner()">

      <ng-container *ngIf="formData.StockName">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="formData.StockName=''">
          <mat-icon>close</mat-icon>
        </button>
      </ng-container>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Minimum Value</mat-label>
      <input matInput type="number" [(ngModel)]="formData.ChangeInPerFrom" (ngModelChange)="filterDataScanner()" [min]="0"
        [max]="formData.ChangeInPerTo" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Maximum Value</mat-label>
      <input matInput type="number" [(ngModel)]="formData.ChangeInPerTo" (ngModelChange)="filterDataScanner()"
        [min]="formData.ChangeInPerFrom" [max]="100" />
    </mat-form-field>
  </div>
</div>

<ng-container *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" class="tblClass">

    <ng-container matColumnDef="StockName">
      <th mat-header-cell *matHeaderCellDef> Stock Name </th>
      <td mat-cell *matCellDef="let element"> {{element.StockName}} </td>
    </ng-container>

    <ng-container matColumnDef="DisplayName">
      <th mat-header-cell *matHeaderCellDef> Dislay Name </th>
      <td mat-cell *matCellDef="let element"> {{element.DisplayName}} </td>
    </ng-container>

    <ng-container matColumnDef="LTP">
      <th mat-header-cell *matHeaderCellDef> LTP </th>
      <td mat-cell *matCellDef="let element"> {{element.LTP}}</td>
    </ng-container>

    <ng-container matColumnDef="IntradayQry">
      <th mat-header-cell *matHeaderCellDef> IntradayQry </th>
      <td mat-cell *matCellDef="let element"> {{element.IntradayQry | number:'1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="StopLoss">
      <th mat-header-cell *matHeaderCellDef> StopLoss </th>
      <td mat-cell *matCellDef="let element"> {{element.StopLoss| number:'1.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="ChangeInPoint">
      <th mat-header-cell *matHeaderCellDef> Change in points </th>
      <td mat-cell *matCellDef="let element"> {{element.ChangeInPoint | number:'1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="ChangeInPer">
      <th mat-header-cell *matHeaderCellDef> Change in % </th>
      <td mat-cell *matCellDef="let element"> {{element.ChangeInPer | number:'1.2-2'}}% </td>
    </ng-container>

    <ng-container matColumnDef="OpenHigh">
      <th mat-header-cell *matHeaderCellDef> Open High </th>
      <td mat-cell *matCellDef="let element">
        {{element.OpenHigh }}</td>
    </ng-container>

    <ng-container matColumnDef="OpenLow">
      <th mat-header-cell *matHeaderCellDef> Open Low </th>
      <td mat-cell *matCellDef="let element"> {{element.OpenLow }} </td>
    </ng-container>

    <ng-container matColumnDef="LastHigh">
      <th mat-header-cell *matHeaderCellDef> Last High </th>
      <td mat-cell *matCellDef="let element"> {{element.LastHigh }} </td>
    </ng-container>

    <ng-container matColumnDef="LastLow">
      <th mat-header-cell *matHeaderCellDef> Last Low </th>
      <td mat-cell *matCellDef="let element"> {{element.LastLow}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>